@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;...&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

/* Body  */

body {
}

h1 {
  font-family: "Lilita One", sans-serif;
}

h3 {
  font-family: "Kanit", sans-serif;
}

/* Main Layout */

.main-layout {
  min-height: 100vh;
}

.sidebar-div {
  flex: 1;
}

/* Sidebar  */

.sidebar {
  height: 85%;
  font-size: 25px;
}

.sidebar a {
  font-size: larger;
  font-weight: bolder;
}

/* Register */

.legend {
  position: absolute;
  top: -20px;
  left: 5px;
}

/* Login AlertBox  */

.alert-box {
  position: fixed;
  top: 3%;
  left: 40%;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer  */

.footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
